.navbar{
    background-color: rgb(68, 226, 231);
    height: 60px;
}

.link a{
    color:rgb(141, 12, 12);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    margin: 0px 5px;
}